In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# cnx = create_engine('postgresql://username:password@ip_address:port')
cnx = create_engine('postgresql://skyler:*********@18.217.201.46:5432')

In [4]:
# for testing
pd.read_sql_query('''SELECT * FROM allstarfull LIMIT 5''', cnx)

    playerid  yearid gamenum        gameid teamid lgid gp startingpos
0  gomezle01    1933       0  ALS193307060    NYA   AL  1           1
1  ferreri01    1933       0  ALS193307060    BOS   AL  1           2
2  gehrilo01    1933       0  ALS193307060    NYA   AL  1           3
3  gehrich01    1933       0  ALS193307060    DET   AL  1           4
4  dykesji01    1933       0  ALS193307060    CHA   AL  1           5

# 1

In [5]:
pd.read_sql_query('''select yearid, teamid, avg(salary) from salaries group by yearid, teamid;''', cnx)

     yearid teamid           avg
0      1999    KCA  7.087838e+05
1      2011    FLO  2.190154e+06
2      1985    SLN  4.726833e+05
3      2010    SEA  3.089643e+06
4      2012    MIA  4.373259e+06
5      2005    ARI  2.308488e+06
6      2002    TBA  1.227857e+06
7      2006    TOR  2.744808e+06
8      2008    HOU  3.293719e+06
9      2001    OAK  1.252250e+06
10     1987    TOR  4.556305e+05
11     2008    PIT  1.872684e+06
12     1988    TOR  4.708163e+05
13     2006    CLE  2.241260e+06
14     2005    TEX  1.801581e+06
15     1998    MIL  9.974972e+05
16     1997    CLE  1.832337e+06
17     1990    NYA  6.337066e+05
18     2011    PIT  1.553345e+06
19     2011    KCA  1.373538e+06
20     1986    DET  4.568783e+05
21     2007    MIL  2.629130e+06
22     1998    SEA  1.423343e+06
23     1998    NYA  2.087715e+06
24     2010    FLO  2.112212e+06
25     2008    LAN  4.089260e+06
26     2009    DET  4.110184e+06
27     1994    TEX  9.991999e+05
28     1987    CHN  5.503077e+05
29     2013    CHA  4.288046e+06
..      ...    ...           ...
798    1992    CAL  1.158311e+06
799    2004    MIL  1.101140e+06
800    2008    NYA  6.929893e+06
801    2000    NYA  3.297795e+06
802    2002    MON  1.381089e+06
803    2005    SLN  3.542570e+06
804    1988    CHA  2.662500e+05
805    2012    CIN  2.935843e+06
806    1994    SDN  4.261809e+05
807    2005    FLO  2.237364e+06
808    1988    NYN  6.107726e+05
809    2001    DET  1.907720e+06
810    1994    MON  6.820714e+05
811    2013    PHI  6.533200e+06
812    2007    LAN  3.739811e+06
813    1989    LAN  6.797278e+05
814    2009    BOS  4.184345e+06
815    2012    ATL  2.856205e+06
816    1992    MON  5.860124e+05
817    1996    BAL  1.702822e+06
818    1995    MIN  7.700152e+05
819    2000    SFN  2.066839e+06
820    1999    TOR  1.420135e+06
821    2013    SFN  5.006440e+06
822    2006    PHI  3.269383e+06
823    2003    DET  1.891077e+06
824    1990    LAN  6.091058e+05
825    1998    LAN  1.435882e+06
826    1985    OAK  4.313622e+05
827    1986    TEX  2.593507e+05

[828 rows x 3 columns]

# 2

In [ ]:
pd.read_sql_query('''create table if not exists fielding (
playerID text,
yearID int,
stint int,
teamID text,
lgID text,
POS text,
G int,
GS int,
InnOuts int,
PO int,
A int,
E int,
DP int,
PB int,
WP int,
SB int,
CS int,
ZR int);''', cnx)

In [ ]:
pd.read_sql_query('''COPY fielding FROM '/home/skyler/baseballdata/fielding.csv' DELIMITER ',' CSV HEADER;''', cnx)

# 3

In [6]:
pd.read_sql_query('''select playerid, count(playerid) from AllstarFull group by playerid 
order by count(playerid) desc;''', cnx)

       playerid  count
0     aaronha01     25
1     musiast01     24
2      mayswi01     24
3     mantlmi01     20
4     ripkeca01     19
5     willite01     19
6     yastrca01     18
7     berrayo01     18
8     kalinal01     18
9     robinbr01     18
10    carewro01     18
11    spahnwa01     17
12     rosepe01     17
13    clemero01     15
14      foxne01     15
15    gwynnto01     15
16    smithoz01     15
17    jacksre01     14
18    rodrial01     14
19    benchjo01     14
20    bankser01     14
21    robinfr02     14
22    rodriiv01     14
23    bondsba01     14
24    jeterde01     13
25    dimagjo01     13
26    riverma01     13
27    griffke02     13
28    brettge01     13
29    killeha01     13
...         ...    ...
1646  swishni01      1
1647    foxpe01      1
1648  thomago01      1
1649   garrra01      1
1650  leagubr01      1
1651  waldejo01      1
1652  heywaja01      1
1653  jonescl01      1
1654  caprabu01      1
1655  hallabi01      1
1656  buhneja01      1
1657  westbja01      1
1658  grissle01      1
1659  smallro02      1
1660  perezsa02      1
1661  davisch02      1
1662  lemasde01      1
1663  zimmery01      1
1664  bluegos01      1
1665  kleskry01      1
1666    maypi01      1
1667  houttar01      1
1668  knowlda01      1
1669    mayda01      1
1670  irvinmo01      1
1671  howelro02      1
1672  saitota01      1
1673  leppedo02      1
1674  liriafr01      1
1675  robinaa01      1

[1676 rows x 2 columns]

# 4

In [ ]:
pd.read_sql_query('''create table if not exists SchoolsPlayers (
playerID text,
schoolID text,
yearMin int,
yearMax int);''', cnx)

In [ ]:
pd.read_sql_query('''COPY SchoolsPlayers FROM '/home/skyler/baseballdata/SchoolsPlayers.csv' 
DELIMITER ',' CSV HEADER;''', cnx)

In [7]:
pd.read_sql_query('''SELECT COUNT(playerID), schoolID FROM SchoolsPlayers GROUP BY schoolID ORDER BY count(playerID) 
DESC LIMIT 1;''', cnx)

   count schoolid
0    102      usc

# 5

In [ ]:
pd.read_sql_query('''create table Master (
playerID text,
birthYear int,
birthMonth int,
birthDay int,
birthCountry text,
birthState text,
birthCity text,
deathYear int,
deathMonth int,
deathDay int,
deathCountry text,
deathState text,
deathCity text,
nameFirst text,
nameLast text,
nameGiven text,
weight int,
height int,
bats text,
throws text,
debut text,
finalGame text,
retroID text,
bbrefID text);''', cnx)

In [ ]:
pd.read_sql_query('''COPY Master FROM '/home/skyler/baseballdata/Master.csv' DELIMITER ',' CSV HEADER;''', cnx)

In [8]:
pd.read_sql_query('''SELECT playerID, DATE(finalGame)-DATE(debut) AS DiffDate FROM Master WHERE finalGame IS NOT NULL 
ORDER BY DiffDate DESC LIMIT 1;''', cnx)

    playerid  diffdate
0  altroni01     12862

# 6

In [9]:
pd.read_sql_query('''SELECT EXTRACT(MONTH FROM DATE(debut)) AS Month, COUNT(debut) 
FROM Master WHERE debut IS NOT NULL GROUP BY Month ORDER BY Month;''', cnx)

   month  count
0    3.0     41
1    4.0   4711
2    5.0   2230
3    6.0   1893
4    7.0   1978
5    8.0   1943
6    9.0   5061
7   10.0    308

# 7

In [10]:
pd.read_sql_query('''SELECT * FROM Salaries LEFT JOIN Master ON Salaries.playerID=Master.playerID;''', cnx)

,yearid,teamid,lgid,playerid,salary,playerid,birthyear,birthmonth,birthday,birthcountry,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
0,1985,BAL,AL,murraed02,1472819.0,murraed02,1956,2,24,USA,...,Murray,Eddie Clarence,190,74,B,R,1977-04-07,1997-09-20,murre001,murraed02
1,1985,BAL,AL,lynnfr01,1090000.0,lynnfr01,1952,2,3,USA,...,Lynn,Fredric Michael,185,73,L,L,1974-09-05,1990-10-03,lynnf001,lynnfr01
2,1985,BAL,AL,ripkeca01,800000.0,ripkeca01,1960,8,24,USA,...,Ripken,Calvin Edwin,200,76,R,R,1981-08-10,2001-10-06,ripkc001,ripkeca01
3,1985,BAL,AL,lacyle01,725000.0,lacyle01,1948,4,10,USA,...,Lacy,Leondaus,175,73,R,R,1972-06-30,1987-10-03,lacyl001,lacyle01
4,1985,BAL,AL,flanami01,641667.0,flanami01,1951,12,16,USA,...,Flanagan,Michael Kendall,185,72,L,L,1975-09-05,1992-09-27,flanm001,flanami01
5,1985,BAL,AL,boddimi01,625000.0,boddimi01,1957,8,23,USA,...,Boddicker,Michael James,172,71,R,R,1980-10-04,1993-06-13,boddm001,boddimi01
6,1985,BAL,AL,stewasa01,581250.0,stewasa01,1954,10,28,USA,...,Stewart,Samuel Lee,200,75,R,R,1978-09-01,1987-10-03,stews001,stewasa01
7,1985,BAL,AL,martide01,560000.0,martide01,1954,5,14,Nicaragua,...,Martinez,Jose Dennis,160,73,R,R,1976-09-14,1998-09-27,martd001,martide01
8,1985,BAL,AL,roeniga01,558333.0,roeniga01,1954,12,5,USA,...,Roenicke,Gary Steven,205,75,R,R,1976-06-08,1988-07-24,roeng001,roeniga01
9,1985,BAL,AL,mcgresc01,547143.0,mcgresc01,1954,1,18,USA,...,McGregor,Scott Houston,190,73,B,L,1976-09-19,1988-04-27,mcgrs001,mcgresc01
10,1985,BAL,AL,dempsri01,512500.0,dempsri01,1949,9,13,USA,...,Dempsey,John Rikard,190,72,R,R,1969-09-23,1992-09-27,dempr001,dempsri01
11,1985,BAL,AL,grosswa01,483333.0,grosswa01,1952,1,14,USA,...,Gross,Wayne Dale,210,74,L,R,1976-08-21,1986-10-01,grosw001,grosswa01
12,1985,BAL,AL,dauerri01,480000.0,dauerri01,1952,7,27,USA,...,Dauer,Richard Fremont,180,72,R,R,1976-09-11,1985-09-29,dauer001,dauerri01
13,1985,BAL,AL,fordda01,450000.0,fordda01,1952,5,19,USA,...,Ford,Darnell Glenn,185,73,R,R,1975-04-12,1985-05-31,fordd001,fordda01
14,1985,BAL,AL,martiti01,440000.0,martiti01,1950,5,31,USA,...,Martinez,Felix Anthony,180,70,L,L,1974-08-09,1988-04-18,martt001,martiti01
15,1985,BAL,AL,davisst02,437500.0,davisst02,1961,12,26,USA,...,Davis,George Earl,207,76,R,R,1982-04-29,1994-08-11,davis001,davisst02
16,1985,BAL,AL,dwyerji01,375000.0,dwyerji01,1950,6,3,USA,...,Dwyer,James Edward,165,70,L,L,1973-06-10,1990-06-21,dwyej001,dwyerji01
17,1985,BAL,AL,nolanjo01,341667.0,nolanjo01,1951,5,12,USA,...,Nolan,Joseph William,175,71,L,R,1972-09-21,1985-06-25,nolaj001,nolanjo01
18,1985,BAL,AL,shelbjo01,130000.0,shelbjo01,1958,2,23,USA,...,Shelby,John T.,175,73,B,R,1981-09-15,1991-08-11,shelj001,shelbjo01
19,1985,BAL,AL,rayfofl01,128500.0,rayfofl01,1957,7,27,USA,...,Rayford,Floyd Kinnard,190,70,R,R,1980-04-17,1987-09-16,rayff001,rayfofl01
20,1985,BAL,AL,youngmi01,121000.0,youngmi01,1960,3,20,USA,...,Young,Michael Darren,195,74,B,R,1982-09-14,1989-09-30,younm002,youngmi01
21,1985,BAL,AL,sheetla01,60000.0,sheetla01,1959,12,6,USA,...,Sheets,Larry Kent,217,75,L,R,1984-09-18,1993-10-01,sheel001,sheetla01
22,1985,BOS,AL,stanlbo01,1075000.0,stanlbo01,1954,11,10,USA,...,Stanley,Robert William,210,76,R,R,1977-04-16,1989-09-05,stanb001,stanlbo01
23,1985,BOS,AL,boggswa01,1000000.0,boggswa01,1958,6,15,USA,...,Boggs,Wade Anthony,190,74,L,R,1982-04-10,1999-08-27,boggw001,boggswa01
24,1985,BOS,AL,armasto01,915000.0,armasto01,1953,7,2,Venezuela,...,Armas,Antonio Rafael,182,71,R,R,1976-09-06,1989-10-01,armat001,armasto01
25,1985,BOS,AL,evansdw01,800000.0,evansdw01,1951,11,3,USA,...,Evans,Dwight Michael,180,74,R,R,1972-09-16,1991-10-06,evand002,evansdw01
26,1985,BOS,AL,riceji01,779227.0,riceji01,1953,3,8,USA,...,Rice,James Edward,200,74,R,R,1974-08-19,1989-08-03,ricej001,riceji01
27,1985,BOS,AL,bucknbi01,747500.0,bucknbi01,1949,12,14,USA,...,Buckner,William Joseph,185,72,L,L,1969-09-21,1990-05-30,buckb001,bucknbi01
28,1985,BOS,AL,easlemi01,650000.0,easlemi01,1950,11,29,USA,...,Easler,Michael Anthony,190,72,L,R,1973-09-05,1987-10-04,easlm001,easlemi01
29,1985,BOS,AL,clearma01,580000.0,clearma01,1956,5,27,USA,...,Clear,Mark Alan,200,76,R,R,1979-04-04,1990-05-16,cleam001,clearma01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23926,2013,SLN,NL,cletoma01,490000.0,cletoma01,1989,5,1,D.R.,...,Cleto,Maikel Jose,250,75,R,R,2011-06-02,2013-06-05,cletm001,cletoma01
23927,2013,SLN,NL,jacksry02,490000.0,jacksry02,1988,5,10,USA,...,Jackson,Ryan Christopher,180,75,R,R,2012-08-11,2013-09-28,jackr005,jacksry02
23928,2013,SLN,NL,kozmape01,490000.0,kozmape01,1988,4,11,USA,...,Kozma,Peter Michael,190,72,R,R,2011-05-18,2013-09-29,kozmp001,kozmape01
23929,2013,SLN,NL,millesh01,490000.0,millesh01,1990,10,10,USA,...,Miller,Shelby Charles,215,75,R,R,2012-09-05,2013-09-25,mills001,millesh01
23930,2013,SLN,NL,rosentr01,490000.0,rosentr01,1990,5,29,USA,...,Rosenthal,Trevor Jordan,220,74,R,R,2012-07-18,2013-09-27,roset001,rosentr01
23931,2013,WAS,NL,werthja01,16571429.0,werthja01,1979,5,20,USA,...,Werth,Jayson Richard Gowan,225,77,R,R,2002-09-01,2013-09-28,wertj001,werthja01
23932,2013,WAS,NL,zimmery01,14100000.0,zimmery01,1984,9,28,USA,...,Zimmerman,Ryan Wallace,230,75,R,R,2005-09-01,2013-09-28,zimmr001,zimmery01
23933,2013,WAS,NL,harenda01,13000000.0,harenda01,1980,9,17,USA,...,Haren,Daniel John,215,77,R,R,2003-06-30,2013-09-28,hared001,harenda01
23934,2013,WAS,NL,soriara01,11742091.0,soriara01,1979,12,19,D.R.,...,Soriano,Rafael,210,73,R,R,2002-05-10,2013-09-28,sorir001,soriara01
23935,2013,WAS,NL,larocad01,10000000.0,larocad01,1979,11,6,USA,...,LaRoche,David Adam,200,74,L,L,2004-04-07,2013-09-25,laroa001,larocad01
23936,2013,WAS,NL,suzukku01,6487500.0,suzukku01,1983,10,4,USA,...,Suzuki,Kurt Kiyoshi,205,71,R,R,2007-06-12,2013-09-29,suzuk001,suzukku01
23937,2013,WAS,NL,gonzagi01,6350000.0,gonzagi01,1985,9,19,USA,...,Gonzalez,Giovany A.,200,72,R,L,2008-08-06,2013-09-24,gonzg003,gonzagi01
23938,2013,WAS,NL,zimmejo02,5350000.0,zimmejo02,1986,5,23,USA,...,Zimmermann,Jordan M.,220,74,R,R,2009-04-20,2013-09-25,zimmj003,zimmejo02
23939,2013,WAS,NL,spande01,4750000.0,spande01,1984,2,27,USA,...,Span,Keiunta Denard,210,72,L,L,2008-04-06,2013-09-28,spand001,spande01
23940,2013,WAS,NL,clippty01,4000000.0,clippty01,1985,2,14,USA,...,Clippard,Tyler Lee,200,75,R,R,2007-05-20,2013-09-27,clipt001,clippty01
23941,2013,WAS,NL,strasst01,3900000.0,strasst01,1988,7,20,USA,...,Strasburg,Stephen James,200,76,R,R,2010-06-08,2013-09-27,stras001,strasst01
23942,2013,WAS,NL,desmoia01,3800000.0,desmoia01,1985,9,20,USA,...,Desmond,Ian M.,210,75,R,R,2009-09-10,2013-09-28,desmi001,desmoia01
23943,2013,WAS,NL,storedr01,2500000.0,storedr01,1987,8,11,USA,...,Storen,Drew Patrick,225,73,B,R,2010-05-17,2013-09-28,stord001,storedr01
23944,2013,WAS,NL,detwiro01,2337500.0,detwiro01,1986,3,6,USA,...,Detwiler,Ross Emery,200,77,R,L,2007-09-07,2013-07-03,detwr001,detwiro01
23945,2013,WAS,NL,harpebr03,2000000.0,harpebr03,1992,10,16,USA,...,Harper,Bryce Aron Max,230,74,L,R,2012-04-28,2013-09-28,harpb003,harpebr03
23946,2013,WAS,NL,bernaro01,1212500.0,bernaro01,1984,6,12,Curacao,...,Bernadina,Rogearvin Argelo,200,74,L,L,2008-06-29,2013-09-29,bernr001,bernaro01
23947,2013,WAS,NL,tracych01,1000000.0,tracych01,1980,5,22,USA,...,Tracy,Chad Austin,205,73,L,R,2004-04-21,2013-09-28,tracc001,tracych01
23948,2013,WAS,NL,stammcr01,875000.0,stammcr01,1984,3,9,USA,...,Stammen,Craig N.,215,75,R,R,2009-05-21,2013-09-25,stamc001,stammcr01
23949,2013,WAS,NL,dukeza01,700000.0,dukeza01,1983,4,19,USA,...,Duke,Zachary Thomas,210,74,L,L,2005-07-02,2013-09-29,dukez001,dukeza01
23950,2013,WAS,NL,espinda01,526250.0,espinda01,1987,4,25,USA,...,Espinosa,Daniel Richard,205,72,B,R,2010-09-01,2013-06-02,espid001,espinda01
23951,2013,WAS,NL,matthry01,504500.0,matthry01,1983,11,10,USA,...,Mattheus,Ryan Brent,215,75,R,R,2011-06-14,2013-09-29,mattr001,matthry01
23952,2013,WAS,NL,lombast02,501250.0,lombast02,1988,9,20,USA,...,Lombardozzi,Stephen Paul,200,72,B,R,2011-09-06,2013-09-29,lombs002,lombast02
23953,2013,WAS,NL,ramoswi01,501250.0,ramoswi01,1987,8,10,Venezuela,...,Ramos,Wilson Abraham,220,72,R,R,2010-05-02,2013-09-28,ramow001,ramoswi01
23954,2013,WAS,NL,rodrihe03,501000.0,rodrihe03,1987,2,25,Venezuela,...,Rodriguez,Henry Alberto,225,73,R,R,2009-09-21,2013-07-10,rodrh002,rodrihe03
23955,2013,WAS,NL,moorety01,493000.0,moorety01,1987,1,30,USA,...,Moore,Tyler Michael,220,74,R,R,2012-04-29,2013-09-29,moort002,moorety01

In [11]:
pd.read_sql_query('''SELECT * FROM Master LEFT JOIN Salaries ON Master.playerID=Salaries.playerID;''', cnx)

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,throws,debut,finalgame,retroid,bbrefid,yearid,teamid,lgid,playerid,salary
0,murraed02,1956.0,2.0,24.0,USA,CA,Los Angeles,NaN,NaN,NaN,...,R,1977-04-07,1997-09-20,murre001,murraed02,1985.0,BAL,AL,murraed02,1472819.0
1,lynnfr01,1952.0,2.0,3.0,USA,IL,Chicago,NaN,NaN,NaN,...,L,1974-09-05,1990-10-03,lynnf001,lynnfr01,1985.0,BAL,AL,lynnfr01,1090000.0
2,ripkeca01,1960.0,8.0,24.0,USA,MD,Havre de Grace,NaN,NaN,NaN,...,R,1981-08-10,2001-10-06,ripkc001,ripkeca01,1985.0,BAL,AL,ripkeca01,800000.0
3,lacyle01,1948.0,4.0,10.0,USA,TX,Longview,NaN,NaN,NaN,...,R,1972-06-30,1987-10-03,lacyl001,lacyle01,1985.0,BAL,AL,lacyle01,725000.0
4,flanami01,1951.0,12.0,16.0,USA,NH,Manchester,2011.0,8.0,24.0,...,L,1975-09-05,1992-09-27,flanm001,flanami01,1985.0,BAL,AL,flanami01,641667.0
5,boddimi01,1957.0,8.0,23.0,USA,IA,Cedar Rapids,NaN,NaN,NaN,...,R,1980-10-04,1993-06-13,boddm001,boddimi01,1985.0,BAL,AL,boddimi01,625000.0
6,stewasa01,1954.0,10.0,28.0,USA,NC,Asheville,NaN,NaN,NaN,...,R,1978-09-01,1987-10-03,stews001,stewasa01,1985.0,BAL,AL,stewasa01,581250.0
7,martide01,1954.0,5.0,14.0,Nicaragua,None,Granada,NaN,NaN,NaN,...,R,1976-09-14,1998-09-27,martd001,martide01,1985.0,BAL,AL,martide01,560000.0
8,roeniga01,1954.0,12.0,5.0,USA,CA,Covina,NaN,NaN,NaN,...,R,1976-06-08,1988-07-24,roeng001,roeniga01,1985.0,BAL,AL,roeniga01,558333.0
9,mcgresc01,1954.0,1.0,18.0,USA,CA,Inglewood,NaN,NaN,NaN,...,L,1976-09-19,1988-04-27,mcgrs001,mcgresc01,1985.0,BAL,AL,mcgresc01,547143.0
10,dempsri01,1949.0,9.0,13.0,USA,TN,Fayetteville,NaN,NaN,NaN,...,R,1969-09-23,1992-09-27,dempr001,dempsri01,1985.0,BAL,AL,dempsri01,512500.0
11,grosswa01,1952.0,1.0,14.0,USA,CA,Riverside,NaN,NaN,NaN,...,R,1976-08-21,1986-10-01,grosw001,grosswa01,1985.0,BAL,AL,grosswa01,483333.0
12,dauerri01,1952.0,7.0,27.0,USA,CA,San Bernardino,NaN,NaN,NaN,...,R,1976-09-11,1985-09-29,dauer001,dauerri01,1985.0,BAL,AL,dauerri01,480000.0
13,fordda01,1952.0,5.0,19.0,USA,CA,Los Angeles,NaN,NaN,NaN,...,R,1975-04-12,1985-05-31,fordd001,fordda01,1985.0,BAL,AL,fordda01,450000.0
14,martiti01,1950.0,5.0,31.0,USA,CO,La Junta,NaN,NaN,NaN,...,L,1974-08-09,1988-04-18,martt001,martiti01,1985.0,BAL,AL,martiti01,440000.0
15,davisst02,1961.0,12.0,26.0,USA,TX,Dallas,NaN,NaN,NaN,...,R,1982-04-29,1994-08-11,davis001,davisst02,1985.0,BAL,AL,davisst02,437500.0
16,dwyerji01,1950.0,6.0,3.0,USA,IL,Evergreen Park,NaN,NaN,NaN,...,L,1973-06-10,1990-06-21,dwyej001,dwyerji01,1985.0,BAL,AL,dwyerji01,375000.0
17,nolanjo01,1951.0,5.0,12.0,USA,MO,St. Louis,NaN,NaN,NaN,...,R,1972-09-21,1985-06-25,nolaj001,nolanjo01,1985.0,BAL,AL,nolanjo01,341667.0
18,shelbjo01,1958.0,2.0,23.0,USA,KY,Lexington,NaN,NaN,NaN,...,R,1981-09-15,1991-08-11,shelj001,shelbjo01,1985.0,BAL,AL,shelbjo01,130000.0
19,rayfofl01,1957.0,7.0,27.0,USA,TN,Memphis,NaN,NaN,NaN,...,R,1980-04-17,1987-09-16,rayff001,rayfofl01,1985.0,BAL,AL,rayfofl01,128500.0
20,youngmi01,1960.0,3.0,20.0,USA,CA,Oakland,NaN,NaN,NaN,...,R,1982-09-14,1989-09-30,younm002,youngmi01,1985.0,BAL,AL,youngmi01,121000.0
21,sheetla01,1959.0,12.0,6.0,USA,VA,Staunton,NaN,NaN,NaN,...,R,1984-09-18,1993-10-01,sheel001,sheetla01,1985.0,BAL,AL,sheetla01,60000.0
22,stanlbo01,1954.0,11.0,10.0,USA,ME,Portland,NaN,NaN,NaN,...,R,1977-04-16,1989-09-05,stanb001,stanlbo01,1985.0,BOS,AL,stanlbo01,1075000.0
23,boggswa01,1958.0,6.0,15.0,USA,NE,Omaha,NaN,NaN,NaN,...,R,1982-04-10,1999-08-27,boggw001,boggswa01,1985.0,BOS,AL,boggswa01,1000000.0
24,armasto01,1953.0,7.0,2.0,Venezuela,Anzoategui,Puerto Piritu,NaN,NaN,NaN,...,R,1976-09-06,1989-10-01,armat001,armasto01,1985.0,BOS,AL,armasto01,915000.0
25,evansdw01,1951.0,11.0,3.0,USA,CA,Santa Monica,NaN,NaN,NaN,...,R,1972-09-16,1991-10-06,evand002,evansdw01,1985.0,BOS,AL,evansdw01,800000.0
26,riceji01,1953.0,3.0,8.0,USA,SC,Anderson,NaN,NaN,NaN,...,R,1974-08-19,1989-08-03,ricej001,riceji01,1985.0,BOS,AL,riceji01,779227.0
27,bucknbi01,1949.0,12.0,14.0,USA,CA,Vallejo,NaN,NaN,NaN,...,L,1969-09-21,1990-05-30,buckb001,bucknbi01,1985.0,BOS,AL,bucknbi01,747500.0
28,easlemi01,1950.0,11.0,29.0,USA,OH,Cleveland,NaN,NaN,NaN,...,R,1973-09-05,1987-10-04,easlm001,easlemi01,1985.0,BOS,AL,easlemi01,650000.0
29,clearma01,1956.0,5.0,27.0,USA,CA,Los Angeles,NaN,NaN,NaN,...,R,1979-04-04,1990-05-16,cleam001,clearma01,1985.0,BOS,AL,clearma01,580000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37612,manniji01,1862.0,1.0,31.0,USA,MA,Fall River,1929.0,10.0,22.0,...,R,1884-05-16,1889-10-13,mannj102,manniji01,NaN,None,None,None,NaN
37613,guerrmi01,1912.0,10.0,11.0,Cuba,La Habana,La Habana,1992.0,10.0,9.0,...,R,1937-09-19,1951-09-23,guerm102,guerrmi01,NaN,None,None,None,NaN
37614,spongca01,1884.0,5.0,21.0,USA,ID,Idaho Falls,1938.0,7.0,21.0,...,R,1908-08-01,1908-08-01,sponc101,spongca01,NaN,None,None,None,NaN
37615,helmbho01,1867.0,8.0,27.0,USA,PA,Philadelphia,1939.0,11.0,18.0,...,None,1890-10-11,1890-10-11,helmh101,helmbho01,NaN,None,None,None,NaN
37616,fogelho99,1861.0,3.0,2.0,USA,PA,Macungie,1928.0,11.0,15.0,...,None,None,None,fogeh801,fogelho99,NaN,None,None,None,NaN
37617,riconha01,1897.0,5.0,17.0,USA,NY,New York,1958.0,11.0,15.0,...,R,1923-04-19,1930-04-18,ricoh101,riconha01,NaN,None,None,None,NaN
37618,hoppeji01,1919.0,9.0,1.0,USA,NC,Charlotte,1982.0,1.0,23.0,...,R,1946-04-21,1946-05-17,hoppj101,hoppeji01,NaN,None,None,None,NaN
37619,krausma01,1987.0,10.0,5.0,USA,OH,Deshler,NaN,NaN,NaN,...,R,2013-06-21,2013-09-29,kraum001,krausma01,NaN,None,None,None,NaN
37620,wilsoic01,1912.0,9.0,14.0,USA,CA,Maricopa,1973.0,10.0,13.0,...,R,1934-05-31,1934-05-31,wilsi101,wilsoic01,NaN,None,None,None,NaN
37621,monacbl01,1915.0,11.0,16.0,USA,TX,San Antonio,2000.0,2.0,10.0,...,R,1937-08-18,1946-05-22,monab101,monacbl01,NaN,None,None,None,NaN
37622,bennehe01,1896.0,9.0,21.0,USA,MO,Elwood,1964.0,9.0,9.0,...,R,1923-04-19,1927-10-01,bennh102,bennehe01,NaN,None,None,None,NaN
37623,chambbi02,1909.0,4.0,21.0,USA,MA,Stoughton,1994.0,2.0,6.0,...,L,1932-08-02,1932-09-23,chamb103,chambbi02,NaN,None,None,None,NaN
37624,antonbi01,1927.0,5.0,19.0,USA,NY,Brooklyn,1993.0,3.0,4.0,...,R,1953-04-30,1953-09-27,antob101,antonbi01,NaN,None,None,None,NaN
37625,hattijo01,1980.0,2.0,27.0,Guam,None,Tamuning,NaN,NaN,NaN,...,R,2006-08-19,2006-10-01,hattj001,hattijo01,NaN,None,None,None,NaN
37626,alvarab01,1982.0,10.0,17.0,USA,CA,Los Angeles,NaN,NaN,NaN,...,L,2004-07-22,2006-05-21,alvaa001,alvarab01,NaN,None,None,None,NaN
37627,romeren01,1991.0,1.0,24.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,...,L,2013-09-22,2013-09-22,romee002,romeren01,NaN,None,None,None,NaN
37628,duncaje01,1978.0,12.0,9.0,USA,IL,Harvey,NaN,NaN,NaN,...,L,2003-05-20,2004-05-05,duncj001,duncaje01,NaN,None,None,None,NaN
37629,jordadu01,1880.0,1.0,5.0,USA,PA,Pittsburgh,1972.0,12.0,23.0,...,R,1903-04-25,1904-10-08,jordd101,jordadu01,NaN,None,None,None,NaN
37630,palmeji01,1945.0,10.0,15.0,USA,NY,New York,NaN,NaN,NaN,...,R,1965-04-17,1984-05-12,palmj001,palmeji01,NaN,None,None,None,NaN
37631,hernara01,1940.0,8.0,31.0,P.R.,None,Carolina,2009.0,2.0,4.0,...,L,1967-04-11,1977-07-27,hernr102,hernara01,NaN,None,None,None,NaN
37632,taylobi03,1929.0,12.0,30.0,USA,CA,Alhambra,2011.0,9.0,15.0,...,L,1954-04-14,1958-05-08,taylb102,taylobi03,NaN,None,None,None,NaN
37633,flagsir01,1893.0,9.0,22.0,USA,MI,Montague,1940.0,3.0,13.0,...,R,1917-07-20,1930-07-29,flagi101,flagsir01,NaN,None,None,None,NaN
37634,gingrjo01,1893.0,1.0,10.0,USA,NY,New York,1947.0,9.0,6.0,...,R,1915-06-18,1915-06-26,gingj101,gingrjo01,NaN,None,None,None,NaN
37635,lockech01,1932.0,5.0,5.0,USA,MO,Malden,NaN,NaN,NaN,...,R,1955-09-16,1955-09-23,lockc101,lockech01,NaN,None,None,None,NaN
37636,jonesar01,1906.0,2.0,7.0,USA,SC,Kershaw,1980.0,11.0,25.0,...,R,1932-04-23,1932-04-23,jonea101,jonesar01,NaN,None,None,None,NaN
37637,stranal01,1906.0,11.0,7.0,USA,PA,Philadelphia,1994.0,6.0,27.0,...,R,1934-04-17,1942-08-16,straa102,stranal01,NaN,None,None,None,NaN
37638,campbmi02,1850.0,8.0,1.0,Ireland,None,None,1926.0,1.0,12.0,...,None,1873-04-28,1873-07-23,campm101,campbma01,NaN,None,None,None,NaN
37639,stanist01,1961.0,6.0,19.0,USA,IL,Lake Forest,NaN,NaN,NaN,...,R,1987-09-16,1989-10-01,stans001,stanist01,NaN,None,None,None,NaN
37640,kostefr01,1905.0,12.0,21.0,USA,KY,Louisville,1979.0,4.0,24.0,...,L,1931-04-27,1931-09-27,kostf102,kostefr01,NaN,None,None,None,NaN
37641,martisp01,1893.0,9.0,15.0,USA,WA,Wawawai,1983.0,6.0,14.0,...,R,1917-07-05,1922-04-17,marts102,martisp01,NaN,None,None,None,NaN